/* ==UserStyle==
@name			Reddit Dark Mode
@author			Chris Diaz
==/UserStyle== */

@-moz-document url("old.reddit.com")
{
	* {
	    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
	    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
	    "Droid Sans", "Helvetica Neue", sans-serif;
	}
	
	/* Hide subreddits top bar */
	/*[[sr-top-bar]]*/
	  .sr-list > .separator,
	.sr-list > .separator + .sr-bar,
	#sr-more-link
	  {
	    display: none;
	  }
	
	  #sr-header-area
	  {
	    height: 0;
	  }
	
	  .sr-bar,
	.dropdown.srdrop
	  {
	    float: right;
	    margin-left: 1em;
	  }
	/* Hide annoying stuff */
	  .give-gold-button,
	.goldvertisement,
	.embed-comment,
	.nub
	  {
	    display: none;
	  }
	/* Reset */
	  *, *:before, *:after
	  {
	    background-color: transparent;
	    border: none;
	    color: #BCB7B0;
	  }
	/* Default links */
	  a
	  {
	    color: #48b;
	  }
	
	  a:visited
	  {
	    color: #369;
	  }
	
	  a:hover
	  {
	    color: #5ad;
	  }
	/* Background */
	  html,
	body,
	#sr-more-link
	  {
	    background-color: #1E2026;
	  }
	/* Top bar */
	  #header-img,
	#mail,
	.sidebox.create .spacer a
	  {
	    filter: invert(80%) hue-rotate(180deg);
	  }
	
	  .drop-choices,
	.hover-bubble,
	.modal-dialog
	  {
	    background: #111;
	  }
	
	  .tabmenu .selected a
	  {
	    color: #999;
	  }
	/* Side bar */
	  .listing-chooser-collapsed .grippy
	  {
	    width: 1px;
	  }
	
	  .listing-chooser-collapsed .listing-chooser
	  {
	    padding-right: 1px;
	  }
	
	  .listing-chooser li.selected
	  {
	    box-shadow: none;
	  }
	
	  .grippy:after
	  {
	    display: none;
	  }
	/* Inputs and buttons */
	  input,
	textarea,
	.linkinfo .shortlink input,
	.new-comment .usertext-body,
	.morelink a,
	.morelink:hover a,
	.fancy-toggle-button a,
	.usertext button
	  {
	    background: #333;
	    color: #999;
	    font-weight: normal;
	  }
	/* Listing */
	  .thing .title
	  {
	    color: #aaa;
	  }
	
	  .title:visited
	  {
	    color: #777;
	  }
	
	  .thing .title:hover
	  {
	    color: #ccc;
	  }
	
	  .arrow
	  {
	    filter: brightness(45%);
	  }
	
	  .arrow.upmod,
	.arrow.downmod
	  {
	    filter: brightness(50%) contrast(120%);
	  }
	
	  .link .score.likes
	  {
	    color: #b3684d;
	  }
	
	  .link .score.dislikes
	  {
	    color: #7070c2;
	  }
	
	  .expando-button
	  {
	    filter: brightness(45%) contrast(180%);
	    background-color: transparent;
	  }
	
	  .moderator,
	.green
	  {
	    color: #3a3;
	  }
	
	  .admin,
	.nsfw-stamp *
	  {
	    color: #a66;
	  }
	
	  .pagename a,
	.trophy-name
	  {
	    color: #999;
	  }
	
	  .buttons li
	  {
	    padding: 0;
	  }
	
	  .buttons a
	  {
	    margin-right: 8px;
	    color: #888;
	  }
	
	  .buttons a:visited
	  {
	    color: #666;
	  }
	
	  .buttons a:hover
	  {
	    color: #aaa;
	  }
	
	  .pagename,
	.tabmenu li,
	.link .midcol,
	.buttons a,
	.subreddit
	  {
	    font-weight: normal;
	  }
	
	  .search-expando.collapsed:before,
	.comment-fade
	  {
	    display: none;
	  }
	
	  .recommended-link
	  {
	    border-color: #333;
	  }
	/* Comments */
	  .link .usertext .md,
	blockquote,
	pre,
	code,
	.gold-accent
	  {
	    background-color: #111;
	  }
	
	  .md blockquote
	  {
	    border-left: solid 4px #333;
	  }
	
	  .md td
	  {
	    border: solid 1px #333;
	  }
	
	  hr
	  {
	    border-bottom: solid 1px #333;
	  }
	
	  .comment .author,
	.morecomments a
	  {
	    font-weight: normal;
	  }
	/* RES */
	  .guider,
	.guiders_button,
	.res-fancy-toggle-button,
	#RESConsoleContainer,
	#RESShortcutsAddFormContainer
	  {
	    background: #222;
	  }
	
	  .RESDialogSmall,
	.RESDropdownOptions,
	.RESNotification,
	#alert_message
	  {
	    background: #111;
	  }
	
	  .RES-keyNav-activeElement,
	.RES-keyNav-activeElement .md-container
	  {
	    background: #333;
	  }
	
	  .res-nightmode .arrow
	  {
	    filter: none;
	  }
	/* new.reddit.com */
	  #header,
	#lightbox,
	#hamburgers,
	#overlayScrollContainer,
	#SHORTCUT_FOCUSABLE_DIV > div:first-child,
	header,
	div[data-redditstyle],
	body > div,
	div[style^="left:"]
	div[role="button"]
	  {
	    background-color: #191A1F;
	  }
	
	  #header svg
	  {
	    filter: invert(90%) hue-rotate(180deg);
	  }
	
	  div[contenteditable="true"]
	  {
	    background: #333;
	  }
	
	  #overlayFixedContent + div
	  {
	    background: rgba(0, 0, 0, 0.7);
	  }
	
	  div[data-slot]
	  {
	    display: none;
	  }
	
	  .icon, .icon:before
	  {
	    color: inherit;
	  }
	
	  a[data-click-id="timestamp"]
	  {
	    color: #777;
	  }
	
	  a[data-click-id="body"] h2
	  {
	    color: #aaa;
	  }
	
	  a[data-click-id="body"]:visited h2
	  {
	    color: #777;
	  }
	
	  .scrollerItem
	  {
	    box-shadow: none;
	  }
}